TP_TOKEN=
TP_BASE_URL=
TP_API_VERSION=v1

# Con be found with get_logged_in_user tool
TP_OWNER_ID=

# Con be found with 'get_projects' tool
# Also the default project for the workflow state lookups
TP_PROJECT_ID=

# Con be found with 'get_teams' tool
TP_TEAM_ID=
